<html>
  <head>
    <%- include ('../partials/header') %>
  </head>
<body>
  <div style="margin:0px;">
    <%- include ('../partials/nav') %>
    <div class="jumbotron"  style="padding:20px;">
      <h1>Map Server geojson</h1>
      <p>About</p>
      
    </div>
  </div>
</body>
</html>