<html>
  <head>
    <%- include ('../partials/header') %>
  </head>
<body>
  <div style="margin:0px;">
    <%- include ('../partials/nav') %>
    <div class="jumbotron"  style="padding:20px;">
      <h1>Map Server geojson</h1>
      <p>Map resources</p>
      <lu>
          <li><a href="https://github.com/openpolis/geojson-italy/tree/master/geojson">Geojson-italy</a> Geojson and topojson files for all Italian municipalities, by regions and provinces</li>
          <li><a href="https://github.com/johan/world.geo.json"> world.geo.json</a> Annotated geo-json geometry files for the world</li>
          <li><a href="https://www.geojson.io">geojson.io</a> A simple Web tool for creating, viewing, and download geoJSON files</li>
      </lu>
    </div>
  </div>
</body>
</html>