<html>
  <head>
    <%- include ('../partials/header') %>
  </head>
<body>
  <div style="margin:0px;">
    <%- include ('../partials/nav') %>
    <div class="jumbotron"  style="padding:20px;">
      <h1>Map Server geojson</h1>
      <p>Map resources</p>
      <lu>
          <li>Geojson and topojson files for all municipalities, by regions and provinces
            <a href="https://github.com/openpolis/geojson-italy/tree/master/geojson">Geojson-italy</a></li>

      </lu>
    </div>
  </div>
</body>
</html>